<div class="card" >
    <div class="card-header">
        <h5> Improvment By Department</h5>
      </div>
    <div class="card-body" > 
        <mat-tab-group headerPosition="below" >
            <mat-tab label="Software Development Department"> <sections-preformance-chart></sections-preformance-chart></mat-tab>
            <mat-tab label="Web Development Department"> <section2-chart></section2-chart></mat-tab>
            <mat-tab label="AI and Games Department"> <section3-chart></section3-chart> </mat-tab>
        </mat-tab-group>
    </div> 
</div>
  