<div class="container">
	<div class="timeline">
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					30\12\2019
				</div>
				<div class="item_content__text">
                    Rama, Abdallah and Qamar's deadline for bundle "Learning Angular" (for "Prezaj" Task)
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					14/1/2020
				</div>
				<div class="item_content__text">
					Prezaj Deadline
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					9/1/2020
				</div>
				<div class="item_content__text">
                    Rama's deadline for bundle "Game Design" for task "Design Romin Game"
                </div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					15/1/2020
				</div>
				<div class="item_content__text">
                    Mike's Deadline for bundle "Game Theory" for task "Design Romin Game"
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					25/1/2020
				</div>
				<div class="item_content__text">
                    Abdallah's Deadline for bundle "Virtual Reality" for task "PAl VR SummerCamp"
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					15/2/2020
				</div>
				<div class="item_content__text">
					"Design Romin Game"'s Deadline
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
                    15/2/2020
				</div>
				<div class="item_content__text">
                    Qamar and Rama's Deadline for bundle "3d Design" for task "PAl VR SummerCamp"
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
				<div class="item_content">
				<div class="item_content__title">
                    25/2/2020
				</div>
				<div class="item_content__text">
                    Qamar's Deadline for bundle "VR controllers" for task "PAl VR SummerCamp"
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
				<div class="item_content">
				<div class="item_content__title">
                    15/3/2020
				</div>
				<div class="item_content__text">
                    "PAl VR SummerCamp" Deadline
    			</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					30\12\2019
				</div>
				<div class="item_content__text">
                    Rama, Abdallah and Qamar's deadline for bundle "Learning Angular" (for "Prezaj" Task)
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					14/1/2020
				</div>
				<div class="item_content__text">
					Prezaj Deadline
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					9/1/2020
				</div>
				<div class="item_content__text">
                    Rama's deadline for bundle "Game Design" for task "Design Romin Game"
                </div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					15/1/2020
				</div>
				<div class="item_content__text">
                    Mike's Deadline for bundle "Game Theory" for task "Design Romin Game"
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					25/1/2020
				</div>
				<div class="item_content__text">
                    Abdallah's Deadline for bundle "Virtual Reality" for task "PAl VR SummerCamp"
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
					15/2/2020
				</div>
				<div class="item_content__text">
					"Design Romin Game"'s Deadline
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
			<div class="item_content">
				<div class="item_content__title">
                    15/2/2020
				</div>
				<div class="item_content__text">
                    Qamar and Rama's Deadline for bundle "3d Design" for task "PAl VR SummerCamp"
				</div>
			</div>
			</div>
		</div>
		<div class="item">
			<div class="item_pic">
				<div class="item_content">
				<div class="item_content__title">
                    25/2/2020
				</div>
				<div class="item_content__text">
                    Qamar's Deadline for bundle "VR controllers" for task "PAl VR SummerCamp"
				</div>
			</div>
			</div>
		</div>

    </div>
</div>