<!--Table-->
<table id="tablePreview" class="table table-borderless table-striped table-hover table-sm">
    <!--Table head-->
      <thead>
        <tr>
          <th>Overdue</th>
          <th>Task</th>
          <th>Deadline</th>
          <th>Employee</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row" style="color:#FBC658">1 Day</th>
          <td>UX Optimization</td>
          <td>1/10/2020</td>
          <td>Paula</td>
        </tr>
        <tr>
          <th scope="row" style="color:#FBC658">4 Days </th>
          <td>Design Prezaj</td>
          <td>1/1/2020</td>
          <td>Mark</td>
        </tr>
        <tr>
          <th scope="row" style="color:#EF8157" >10 Days</th>
          <td>Build Database</td>
          <td>20/12/2019</td>
          <td>Nancy</td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
    