

<div class="container">
    <div class="row">
      <div class="col-sm">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search"
        style="width: 200%; ">
      </div>
      <div class="col-sm">
       
      </div>
      <div class="col-sm">
        <button class="btn btn-success active"   (click)="openDialog()" style="margin-left: 200px;">Add Employee</button> 
        
      </div>
    </div>
  </div>
<a style="padding-top: 10px;"><strong>Categoriez</strong></a>
  <app-search></app-search>
  


<div class="mat-body-1">
  <div>
      <app-task1></app-task1>
  </div>
  
  
  
</div>
<!-- Full Height Modal Right -->



