<script>
$('.filter-basic').mdbFilter();
</script>




<div class="filter filter-draggable">
    <div class="filter-nav">
      <button class="btn btn-success active" data-filter="">All</button>
      <button class="btn btn-primary" data-filter="nature">AI</button>
      <button class="btn btn-primary" data-filter="food">Web Development</button>
      <button class="btn btn-primary" data-filter="architecture">Games Development</button>
      <button class="btn btn-primary" data-filter="architecture">Ogmented Reality</button>
    </div>
    