

<div class="card horizontal"  style=" display: flex ; flex-direction: row; background-color:#f4f3ef; ;">
  <div  class="company">                  
    <div >
        <img  src="https://png2.cleanpng.com/sh/ee27437bdd62397794b1970965caf685/L0KzQYm3V8A5N6h8fpH0aYP2gLBuTfFxeJ1qRd54Z3AwccH3jPUudJDsh592YYTogrrojL02amU2UatsNHXodoHoWL40OWM4SKcEOEG4Q4K3UsU5PmEAT6oCLoDxd1==/kisspng-apple-logo-apple-logo-material-5b4199c4eef0a8.3123059815310258609787.png" >    
  </div>
  <div class="card-stacked" >
     <mat-card-subtitle class="comname" > Apple
    </mat-card-subtitle>

    <mat-card-subtitle class="comtype"> B2B
    </mat-card-subtitle>
    
    <mat-card-subtitle class="coms">  Technology Company
    </mat-card-subtitle>
    </div>
    </div>
</div>