
img {

    height: 150px;
    border-style: dashed;
}


.company{

  width: 100%;
    font-size: 23px;
    font-weight: bold; 
    display:flex ;
    height: 200px;
    margin: auto;
    align-items: center;
    border-style: dashed;
}


.card-stacked{
    margin: auto;
    display:flex ;
    flex-direction: column;
    justify-content: space-evenly;
     line-height:30px;
     height: 90px;
     width: 65%;
}