<div class="container">
    <div class="row">
      <div class="col">
        <div class="card mb-4" style="width:100%;">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://i.pinimg.com/originals/24/14/78/2414786cec6a80cbefb8b9fc6e632d84.jpg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
        
            <!--Card content-->
            <div class="card-body">
              <a class="card-title" style="font-size: x-large;"><strong>Ikea App</strong> </a>
              <!--Text--><br><br>
              <a><strong>Task TimeLine</strong></a>
              <div class="card mb-4" style="width:80%;">
              <div class="progress md-progress" style="height: 20px">
                  <div class="progress-bar" role="progressbar" style="width: 25%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
          </div>
            </div>
         </div>

        </div>
      <div class="col-6">
        <a><strong>Skills Needed</strong></a>
            <div class="card mb-4" style="width:100%;">
                  <div style="display: block">
                    <canvas baseChart
                      [data]="polarAreaChartData"
                      [labels]="polarAreaChartLabels"
                      [legend]="polarAreaLegend"
                      [chartType]="polarAreaChartType">
                    </canvas>
                  </div>


            </div>
      </div>
      <div class="col">
        <a ><strong>Suggested Bundles</strong></a>
        <div class="card mb-4" style="width:110%; height: 90%; margin-left: 5px;">

            <!--Card image-->
            <div class="view overlay">
             <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        
              <img class="card-img-top" src="https://online.stanford.edu/sites/default/files/styles/figure_default/public/2019-10/computer-science-data-visualization_CS448B.jpg?itok=JCfk6I7Q" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            </div>
        
            <!--Card content-->
            <div class="card-body">
        
              <!--Title-->
              <a style="font-size: x-large;" class="card-title"><strong>Data Visualization</strong> </a><br><br>
              <a><strong>COST    $299.9 </strong></a>
              <label style="margin-left: 25px;"> Gregg Poll</label>


              <!--Text-->
              
            </div>
         </div>
        
    </div>
    <div class="row">
      <div class="col">
        <a style="margin-left: -50px;"><strong>Task Descreption</strong></a>
        <div class="card mb-4" style="width:130%; height: 90%; margin-left: -50px;" d-flex justify-content-center>
          <a style="width:90%; margin-left: 20px;" class="text-muted">  <br>IKEA Mobile App <br>
            Aside from furniture with fun names that you need to assemble yourself and cheap Swedish meatballs, 
            IKEA is also known in the tech world as one of the first companies to use augmented reality well.<br>
            IKEA Place app, it will allows you select anything from the store’s catalog and see how it will 
            look to scale anywhere in your house.<br>
            
            This is an extremely helpful tool for people who are wondering if a certain piece of furniture will 
            fit in a tight space, or if the color of their prospective purchase will match the motif of the room.</a>
        </div>
      </div>
      
      <div class="col-5" >
        <a style="margin-left: 40px;"><strong> Task Info   </strong></a>
        <div class="card mb-4" style="width:100%; height: 90%; margin-left: 40px;" d-flex justify-content-center>
          <br><br>
          <ul class="list-group">
            <li class="list-group-item list-group-item-success">Due to the 30/03/2020</li>
            <li class="list-group-item list-group-item-info">Task for the Augmented Reality Department</li>
            <li class="list-group-item list-group-item-warning">Team Leader: John Doe</li>
            <li class="list-group-item list-group-item-danger">Cost :300$</li>
          </ul>
      </div>
        
      </div>
      <br>
      <div class="col">
        <br>
        
        <div class="card mb-4" style="width:90%; height: 90%; margin-left: 45px;">

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <div class="view overlay">
            
        
              <img  class="card-img-top" src="https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2019/12/data-streaming.png" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            </div>
        
            <!--Card content-->
            <div class="card-body">
        
              <!--Title-->
              <a style="font-size: x-large;" class="card-title"><strong>Data Streaming</strong> </a><br><br>
              <a><strong>COST    $399.9 </strong></a>
              <label style="margin-left: 25px;"> Aaron jack</label>

              <!--Text-->
              
            </div>
         </div>
      </div>
    
    </div>
  </div>



























