<section class="dark-grey-text text-center  ">
    <div class="row card-body text-center">

      <!--Grid column-->
      <div class="">

        <!-- Card -->
        <a href="#!" class="card hoverable" >
          
          <!-- Card content -->
          <div class="card-body my-4">
          	<h2><i class="nc-icon nc-paper text-muted" ></i></h2>
            <h6 class="black-text mb-0">Add Task</h6>
            
          </div>

        </a>
        <!-- Card -->

      </div>
      <!--Grid column-->
      
      <!--Grid column-->
      <div class="">

        <!-- Card -->
        <a href="#!" class="card hoverable">
          
          <!-- Card content -->
          <div class="card-body my-4">

            <h2><i class="nc-icon nc-box-2 text-muted"></i></h2>
            <h6 class="black-text mb-0">Buy Bundles</h6>
            
          </div>

        </a>
        <!-- Card -->

      </div>
      <!--Grid column-->
      
      <!--Grid column-->
      <div class="">

        <!-- Card -->
        <a href="#!" class="card hoverable">
          
          <!-- Card content -->
          <div class="card-body my-4">

            <h2><i class="nc-icon nc-hat-3 text-muted"></i></h2>
            <h6 class="black-text mb-0">Add Employee</h6>
            
          </div>

        </a>
        <!-- Card -->

      </div>
      <!--Grid column-->

    </div>
    <!--First row-->

	</section>
  

