<div class="container text-center" >
  <div class="row">
    
    <div class="col-md-8">
      <!-- beggining of row -->
      <div class="row">
          <div class="col-md-4" >
            <div class="card card-user" >
              <div class="card-body">
                      <img src="assets/img/mike.jpg" class="avatar border-gray rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                      <h5 class="title">Chet Faker</h5>
                      <p>FrontEnd Developer</p>
              </div>
            </div>
          </div>

          <div class="col-md-8" >
              <div class="card card-body">
                  <employeechart1></employeechart1>
              </div>
          </div>
      </div>
      <!-- end of row -->
      <div class="row"> 
        <timeline></timeline>
      </div>
<br>
      <div class="row">
          <app-edit-profile></app-edit-profile>
      </div>
  </div>

  <div class="col-md-4">
    <app-tasks-and-bundles></app-tasks-and-bundles>
  </div>
</div>

