<div class=" card card-stats row">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-globe text-warning"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">Turnover Rate</p>
            <p class="card-title">1.1%
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
        <i class="fa fa-refresh"></i> Updated Now
      </div>
    </div>
  </div>




  <div class=" card card-stats row">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-favourite-28 text-primary"></i>
        </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">Customer Satisfaction</p>
            <p class="card-title">97.9%
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
        <i class="fa fa-refresh"></i> Updated Now
      </div>
    </div>
  </div>



  <div class=" card card-stats row">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-vector text-danger"></i>
        </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">Courses</p>
            <p class="card-title">37
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
        <i class="fa fa-refresh"></i> Updated Now
      </div>
    </div>
  </div>
