
<body>  
    <div id= "container">
        <br>
        <div style="display: flex; justify-content: space-around;" >
            <label >UX DESIGNER</label>
        
          <div class="progress" style="width: 60%; height: 30px;">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>



<div class="bundle" >



        <div style=" width: 26%"  >

            <div class="card horizontal" style=" display: flex ; flex-direction: row;">
              <div class="card-image">
                <img  style="height: 189px;" src="https://unsplash.it/400/300?image=503" class="fadeIn">
              </div>
              <div class="card-stacked" style="margin: auto;">
                <div class="card-content">
                 <p style="font-size: 33px; font-weight: 500;">5 Phases for the UX designer - UX design course [1/29]
                </p>
                </div>
                <div class="card-action">
                    <button class = "OUTCOME" mat-button>OUTCOME</button>   
              </div>
              </div>
          </div>
          </div>
      
          <div style=" width: 26%"  >

            <div class="card horizontal" style=" display: flex ; flex-direction: row;">
              <div class="card-image">
                <img  style="height: 189px;" src="https://unsplash.it/400/300?image=503" class="fadeIn">
              </div>
              <div class="card-stacked" style="margin: auto;">
                <div class="card-content">
                 <p style="font-size: 33px; font-weight: 500;">5 Phases for the UX designer - UX design course [1/29]
                </p>
                </div>
                <div class="card-action">
                    <button class = "OUTCOME" mat-button>OUTCOME</button>   
              </div>
              </div>
          </div>
          </div>
          <div style=" width: 26%"  >

            <div class="card horizontal" style=" display: flex ; flex-direction: row;">
              <div class="card-image">
                <img  style="height: 189px;" src="https://unsplash.it/400/300?image=503" class="fadeIn">
              </div>
              <div class="card-stacked" style="margin: auto;">
                <div class="card-content">
                 <p style="font-size: 33px; font-weight: 500;">5 Phases for the UX designer - UX design course [1/29]
                </p>
                </div>
                <div class="card-action">
                    <button class = "OUTCOME" mat-button>OUTCOME</button>   
              </div>
              </div>
          </div>
          </div>
          <div style=" width: 26%"  >

            <div class="card horizontal" style=" display: flex ; flex-direction: row;">
              <div class="card-image">
                <img  style="height: 189px;" src="https://unsplash.it/400/300?image=503" class="fadeIn">
              </div>
              <div class="card-stacked" style="margin: auto;">
                <div class="card-content">
                 <p style="font-size: 33px; font-weight: 500;">5 Phases for the UX designer - UX design course [1/29]
                </p>
                </div>
                <div class="card-action">
                    <button class = "OUTCOME" mat-button>OUTCOME</button>   
              </div>
              </div>
          </div>
          </div>
          <div style=" width: 26%"  >

            <div class="card horizontal" style=" display: flex ; flex-direction: row;">
              <div class="card-image">
                <img  style="height: 189px;" src="https://unsplash.it/400/300?image=503" class="fadeIn">
              </div>
              <div class="card-stacked" style="margin: auto;">
                <div class="card-content">
                 <p style="font-size: 33px; font-weight: 500;">5 Phases for the UX designer - UX design course [1/29]
                </p>
                </div>
                <div class="card-action">
                    <button class = "OUTCOME" mat-button>OUTCOME</button>   
              </div>
              </div>
          </div>
          </div>
          </div>



<br><br>
<br>
<br>

          
  
<mat-card class="example-card" style="width: 40%; height: 1000px; background-color: white; color: black;">
      <mat-card-title>Task</mat-card-title>
    <mat-card-content>
      <p style="font-size: 40px">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

        <mat-card-title>OUTCOME</mat-card-title>
      <mat-card-content>
        <p style="font-size: 40px">
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>


  </mat-card>
  
<br><br>
<br>
<br>
<br><br>
<br>
<br>
</div>
    </body>
    
    <router-outlet></router-outlet>
    
    