

    
    <router-outlet></router-outlet>
    
    
    <div class="bundle" >
  
      <div class= "header">
      
        <label>Rising Employees  </label>
        <button class="viewall" mat-button> VIEW ALL</button> 
  
      </div>

                  <div class="card horizontal" style=" display: flex ; flex-direction: row; background-color:#f4f3ef;">
                    
                      <div class="img" >
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">      
                    </div>
                    <div class="card-stacked" >
                       <mat-card-subtitle class="empname" > Anna Williams
                        <div class="card-action">
                          <mat-icon>expand_less</mat-icon>
                          <label style="font-size: large; font-weight: bold;">+ 1.2</label>
      
                        </div>
                      </mat-card-subtitle>
      
                      <mat-card-subtitle class="empjob"> FRONTEND DEVELOPER
                      </mat-card-subtitle>
                      </div>
      </div>
      
      
      
      <div class="card horizontal" style=" display: flex ; flex-direction: row; background-color:#f4f3ef;">
                    
        <div class="img" >
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">      
      </div>
      <div class="card-stacked" >
         <mat-card-subtitle class="empname" > John Doe
          <div class="card-action">
            <mat-icon>expand_less</mat-icon>
            <label style="font-size: large; font-weight: bold;">+ 1.2</label>
      
          </div>
        </mat-card-subtitle>
      
        <mat-card-subtitle class="empjob"> FRONTEND DEVELOPER
        </mat-card-subtitle>
        </div>
      </div>
      
      
      <div class="card horizontal" style=" display: flex ; flex-direction: row; background-color:#f4f3ef;">
                    
        <div class="img" >
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">      
      </div>
      <div class="card-stacked" >
         <mat-card-subtitle class="empname" > Anna Williams
          <div class="card-action">
            <mat-icon>expand_less</mat-icon>
            <label style="font-size: large; font-weight: bold;">+ 1.2</label>
      
          </div>
        </mat-card-subtitle>
      
        <mat-card-subtitle class="empjob"> FRONTEND DEVELOPER
        </mat-card-subtitle>
        </div>
      </div>
      
      
      <div class="card horizontal" style=" display: flex ; flex-direction: row; background-color:#f4f3ef;">
                    
        <div class="img" >
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">      
      </div>
      <div class="card-stacked" >
         <mat-card-subtitle class="empname" > Anna Williams
          <div class="card-action">
            <mat-icon>expand_less</mat-icon>
            <label style="font-size: large; font-weight: bold;">+ 1.2</label>
      
          </div>
        </mat-card-subtitle>
      
        <mat-card-subtitle class="empjob"> FRONTEND DEVELOPER
        </mat-card-subtitle>
        </div>
      </div>
       
      </div>
   
