



  <div class="row" style="margin-bottom: 4%;">    
    <div class="col-md-8">
      <div class="row" style="display: flex; justify-content: space-between; margin-bottom: 10px;">
        <div class="col-md-4">


<div>
  <label style="font-weight: bold; font-size: 18px;"> Bundle info</label>

<table class="table" style="font-weight: bold;width: 90%;">


  <thead>
    <tr>
      <th scope="col" style="text-align: left" >Rating</th>
      <th scope="col">
        
        <div class="row" >
          <div class="col-lg-12">
            <div class="star-rating" class= "textright">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star " style="color: lightgray;"></span>
              <span class="fa fa-star " style="color: lightgray;"></span>
            </div>
          </div>
      </div>

      </th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <td style="text-align: left">Level</td>
      <td>
        Beginner
      
        <i class="fa fa-signal"  style="font-size:15px;color:#fa7373; margin-left: 5px;"></i>
      </td>
    </tr>
    <tr>
      <td style="text-align: left">Updated</td>
      <td>Nov 14, 2019

        <i class="fa fa-calendar" aria-hidden="true" style="font-size:14px;color:#fa7373; margin-left: 5px;"></i>

      </td>
    </tr>

    <tr>
      <td style="text-align: left; ">Duration</td>
      <td>150h 
      
        <i class="fa fa-clock-o" aria-hidden="true"style="font-size:15px;color:#fa7373; margin-left: 5px;"></i>

      </td>
    </tr>
  </tbody>
</table>
</div>
</div>




<div class="col-md-8">
  <label style="font-weight: bold; font-size: 18px;">Description</label>
  <p style="font-size: 16px;"> 
    In this course, UX Design for Graphic Designers, you'll be talked through a typical website 
    project at a digital agency. First, you'll explore what UX designers do, how it differs from 
    graphic design, and how they can fit into an organization. Next, you'll discover the basics of
     incorporating research into your work. This includes speaking to key stakeholders, talking to
      people that use the website or app, and many more research methods. Finally, you'll learn that
       unless you plan on building the website or app you're designing, you're going to have to learn
        how to work with developers. By the end of this course, you'll know enough about UX design to 
        transition from a graphic designer to a UX designer.
        <details style="color:#404445;" ><summary>  Read More </summary>
          This could be making that transition within
         the company you're currently at, or building a portfolio to get your first UX design job.
          Software required: Adobe Experience Design (Beta).</details>
    </p>

</div>
</div>



<br>
<hr class="style1" style="width: 70%;">
<br>

<div class="row">

<div class="col-md-4">
  <div class= "author_pro" >
  <img class="author" src="https://pluralsight.imgix.net/author/lg/9081db9d-f2c9-4cc0-926c-c111402107dd.jpg?w=200">

  
  <div class="author__name">
    <h5>Robert Lindley </h5>
    <h6>web developer </h6>
    </div>
</div>
</div>
<div class="col-md-8" style="font-weight: bold; font-size: 18px;">

  <div style="display: flex; justify-content: left;height: 330px; ">

    <div class="course-info-tile-right" style=" margin: auto;">
      <h6>About the author</h6>
<div style="font-size: 15px">

      <p style="font-size: 16px;">Joe has been a web developer for the last 13 of his 16+ years 
        as a professional developer. He has specialized in front end and 
        middle tier development . Although his greatest love is writing
         code, he also enjoys teaching and speaking about code.</p>
      <h6 class="author_more">More from the author</h6>
      <div class="author_more__course clearfix">
      <a href="/courses/angular-fundamentals">
      <h6 >Angular Fundamentals</h6>
      </a>
      <div>Intermediate</div>
      <div >9h 36m</div>
      <div>Feb 1, 2019</div>
      </div>
    
   </div>
      </div>


</div>
</div>

</div>



  







</div>
    
    <div class="col-md-4" >

<div style=" height: 700px;box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(168, 164, 164);">
  

<div style=" margin: auto;height: 120px;
 background-color: white; display: flex; flex-direction: column;
 justify-content: space-between;">

 <div style="margin-left: 6%; margin-top: 8px;">

  <div style="font-weight: bold; font-size: 20px; display: flex; justify-content: space-between;"> 
    <label> UX Design Course </label>
    <i class="fa fa-th-list" aria-hidden="true" style="font-size: 23px; color:rgb(87, 83, 83);margin-right: 7%;"></i>
  </div>
<div>
  <div>Bring Your Own Laptop - 1/14  
  </div>

<div style="font-size: 23px; color:rgb(189, 183, 183);">
  <i class="fa fa-random" aria-hidden="true" style="margin-right: 10%;"></i>
  <i class="fa fa-expand" aria-hidden="true"></i>
</div>
</div>
</div>
</div>













        <div class="bundle"  style="margin-top: 2%;">
            <div class="scrollbar" id="style-default">
          
        <div >
  <div class="card horizontal" style="height: 100px; display: flex ; flex-direction: row; background: #f4f3ef; ">

                        <div class="card-image">
                            <img  src="https://miro.medium.com/max/800/1*zSBfhxAnEr87mM754xerJw.png" >
                        </div>
                      
                        <div class="card-content">
                         <p >Introduction to UX - UX design course [1/29]
                        </p>
                        <label style="font-size: 16px;"> Bring Your Own Laptop</label>
                  </div>
                  </div>

                  <div class="card horizontal" style="height: 100px; display: flex ; flex-direction: row; background: #f4f3ef; ">

                    <div class="card-image">
                        <img  src="https://miro.medium.com/max/800/1*zSBfhxAnEr87mM754xerJw.png" >
                    </div>
                  
                    <div class="card-content">
                     <p >Introduction to UX - UX design course [1/29]
                    </p>
                    <label style="font-size: 16px;"> Bring Your Own Laptop</label>
              </div>
              </div><div class="card horizontal" style="height: 100px; display: flex ; flex-direction: row; background: #f4f3ef; ">

                <div class="card-image">
                    <img  src="https://miro.medium.com/max/800/1*zSBfhxAnEr87mM754xerJw.png" >
                </div>
              
                <div class="card-content">
                 <p >Introduction to UX - UX design course [1/29]
                </p>
                <label style="font-size: 16px;"> Bring Your Own Laptop</label>
          </div>
          </div><div class="card horizontal" style="height: 100px; display: flex ; flex-direction: row; background: #f4f3ef; ">

            <div class="card-image">
                <img  src="https://miro.medium.com/max/800/1*zSBfhxAnEr87mM754xerJw.png" >
            </div>
          
            <div class="card-content">
             <p >Introduction to UX - UX design course [1/29]
            </p>
            <label style="font-size: 16px;"> Bring Your Own Laptop</label>
      </div>
      </div><div class="card horizontal" style="height: 100px; display: flex ; flex-direction: row; background: #f4f3ef; ">

        <div class="card-image">
            <img  src="https://miro.medium.com/max/800/1*zSBfhxAnEr87mM754xerJw.png" >
        </div>
      
        <div class="card-content">
         <p >Introduction to UX - UX design course [1/29]
        </p>
        <label style="font-size: 16px;"> Bring Your Own Laptop</label>
  </div>
  </div><div class="card horizontal" style="height: 100px; display: flex ; flex-direction: row; background: #f4f3ef; ">

    <div class="card-image">
        <img  src="https://miro.medium.com/max/800/1*zSBfhxAnEr87mM754xerJw.png" >
    </div>
  
    <div class="card-content">
     <p >Introduction to UX - UX design course [1/29]
    </p>
    <label style="font-size: 16px;"> Bring Your Own Laptop</label>
</div>
</div><div class="card horizontal" style="height: 100px; display: flex ; flex-direction: row; background: #f4f3ef; ">

  <div class="card-image">
      <img  src="https://miro.medium.com/max/800/1*zSBfhxAnEr87mM754xerJw.png" >
  </div>

  <div class="card-content">
   <p >Introduction to UX - UX design course [1/29]
  </p>
  <label style="font-size: 16px;"> Bring Your Own Laptop</label>
</div>
</div><div class="card horizontal" style="height: 100px; display: flex ; flex-direction: row; background: #f4f3ef; ">

  <div class="card-image">
      <img  src="https://miro.medium.com/max/800/1*zSBfhxAnEr87mM754xerJw.png" >
  </div>

  <div class="card-content">
   <p >Introduction to UX - UX design course [1/29]
  </p>
  <label style="font-size: 16px;"> Bring Your Own Laptop</label>
</div>
</div>

</div>
</div>
</div>

</div>
 </div>
</div>





<div class="row" >

<div class="col-md-8" style="font-weight: bold; font-size: 18px;height: 350px; 
display: flex; flex-direction: column;justify-content: space-evenly;
  box-shadow: 1px 1px 1.5px 1.5px rgb(168, 164, 164); border-radius: 1%;">
  <label > Job Overview  </label>
  <p style="font-size: 16px;"> 
    A Maga Design UX/UI (Freelance) Designer is extremely detail-oriented,
     organized, well-versed in the principles of UX/UI design. They possess
      an eye for design aesthetic and sensitivity to good functionality in the 
      digital space. Thy excel in information design and layout with the ability
       to create and develop visual responses to complex communications requirements.
    </p>


<div>
  <label>Task Responsibilities</label>
  
  <div style="display: flex; justify-content: left;">

  <ul style="margin-left: -18px;font-size: 16px;">
    <li>   
      Use storyboarding, user scenario development,
       high-level use case definition, user and task
        analysis, to capture and develop user requirements,
         UI Templates and integrate elements into user interaction designs.
    </li>
    <li>
      Conduct front end analysis, interviewing, focus groups, 
      requirements gathering.
    </li>
 
      <li>
        Design highly usable interfaces for multiple channels.
      </li>
      <details style="color:#404445;margin-left: -15px;" ><summary>  Read More </summary>
   <div style="color:#404445;">
        <li>
      Facilitate iterative development and testing of prototypes.
    </li>
    <li>
      Design highly usable interfaces for multiple channels.
    </li>
    <li>
      Design and develop usability testing plans.
    </li>
    <li>
      Independently assess system performance against stated requirements
    </li>
    <li>
      Review test results and evaluates for conformance to design.
    </li>
    </div>
  </details>

  </ul>

</div>
</div>
</div>
<div class="col-md-4" style="font-weight: bold; font-size: 18px; display: flex;
flex-direction: column;
justify-content: space-evenly; height: 350px;">


<div  style="text-align: center">
  <label>UX Design Team  </label>
  </div>

  <div >
<div style="display: flex; flex-direction: row; justify-content: space-evenly;">
  <div class= "taskteam" >
    <img class="emp" src="https://pluralsight.imgix.net/author/lg/ross-bagurdes-v2.jpg?w=200">
  
    
    <div class="emp_name">
      <label>Ross Bagurdes
      </label>
      </div>
  </div>


  <div class= "taskteam" >
    <img class="emp" src="https://russiansbrides.com/wp-content/uploads/2019/10/portug_1.png">
  
    
    <div class="emp_name">
      <label>Olivia jas </label>
      </div>
  </div>

  <div class= "taskteam" >
    <img class="emp" src="https://static01.nyt.com/images/2013/10/24/business/24CORNER/24CORNER-superJumbo.jpg?quality=90&auto=webp">
  
    
    <div class="emp_name">
      <label>Jim Wilson </label>
      </div>
  </div>
  </div>
  




  
<div style="display: flex; flex-direction: row; justify-content: space-evenly;">
  <div class= "taskteam" >
    <img class="emp" src="https://russiansbrides.com/wp-content/uploads/2019/10/portug_4.jpg.png">
  
    
    <div class="emp_name">
      <label>Linda Phan      </label>
      </div>
  </div>


  <div class= "taskteam" >
    <img class="emp" src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=815&q=80">
  
    
    <div class="emp_name">
      <label>Dan Bunker  </label>
      </div>
  </div>

  <div class= "taskteam" >
    <img class="emp" src="https://0.academia-photos.com/265012/65198/1343292/s200_janet.merkel.jpg">
  
    
    <div class="emp_name">
      <label>Nataly Sturza  </label>
      </div>
  </div>
  </div>
  </div>
  


</div>
</div>

